<a href="https://colab.research.google.com/github/twj89m/test20200820/blob/master/%E7%A0%94%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# -*- coding: utf-8 -*-
x = input('Enter your name:')
print('Hello, ' + x)

a = input("請輸入：")
a

###  使用Python內建的type()函數顯示資料型態

type(a)

Enter your name:uyuyuyuy
Hello, uyuyuyuy
請輸入：oiioiu

str

In [1]:
x, y, z = [int(x) for x in input("Enter three value: ").split("/")] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

Enter three value: 12/45/56
First Number is:  12
Second Number is:  45
Third Number is:  56

In [1]:
import time

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=8, tm_mday=20, tm_hour=6, tm_min=42, tm_sec=30, tm_wday=3, tm_yday=233, tm_isdst=0)

In [2]:
list1=range(10)
print(list1)

range(0, 10)

In [3]:
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [5]:
for n in range(5):
  print(n)

0
1
2
3
4

In [6]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [7]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [8]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [11]:
my_numbers2 = []
for number in numbers:
  if (number % 2 == 0): 
    my_numbers2.append(number)

print(my_numbers2)

[4, 8, 6]